.portfolio2{
    background-color: #fff;
    width: 100%;
    
}

.card-container {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 24rem;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-front-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.card-container:hover .card-front-content {
    opacity: 0;
}

.card-back-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card-container:hover .card-back-content {
    opacity: 1;
}

.card-image-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
    transform-origin: bottom left;
}

.card-container:hover .card-image-wrapper {
    width: 40%;
    height: 40%;
}

.more-link {
    transition: transform 0.3s ease-in-out;
}

.more-link:hover {
    transform: translateX(5px);
}

.portfolio-header{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 600;
    white-space: normal;
    margin-bottom: 1rem;
}